name: Generate ISO
on:
  workflow_dispatch:

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate ISO
        uses: ublue-os/isogenerator@main
        with:
          IMAGE_NAME: ambra-os
          IMAGE_REPO: ghcr.io/alexspina
          IMAGE_TAG: latest
          VERSION: 41
          VARIANT: silverblue

      - name: Upload ISO as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Ambra-OS-ISO
          path: |
            ./*.iso
            ./*.sha256
